<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>价格列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

    <style>
        body{
            padding: 80px;
            color: ghostwhite;
            background-color: darkgray;
        }
    </style>

    <script>
        $(".delbnt").click(function () {
            $("#delbnt").submit();
            return false;
        });
    </script>
</head>

<body>
<div class="table-responsive">
    <table class="table table-hover border-1">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">申请编号</th>
            <th scope="col">父类型</th>
            <th scope="col">产品类型</th>
            <th scope="col">客户姓名</th>
            <th scope="col">客户手机号</th>
            <th scope="col">客户邮箱</th>
            <th scope="col">单笔价格</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="priceData : ${priceDatas}">
            <th th:text="${priceData.id}">id</th>
            <td th:text="${priceData.applyId}">申请编号</td>
            <td th:text="${priceData.parentTypeDesc}">父类型</td>
            <td th:text="${priceData.productTypeDesc}">子类型</td>
            <td th:text="${priceData.customeName}">客户姓名</td>
            <td th:text="${priceData.customeMobile}">客户手机号</td>
            <td th:text="${priceData.customeEmail}">客户邮箱</td>
            <td th:text="${priceData.price}">价格</td>
            <td>
                <a type="button"  class="btn btn-info btn-lg" th:href="@{/toPriceData(id=${priceData.id})}">修改</a>
                <form id="delbnt" th:action="@{/priceData/}+${priceData.id}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-danger btn-lg delbnt">删除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a type="button"  class="btn btn-primary btn-lg" th:href="@{/toPriceData1}">添加</a>
</div>


</body>

</html>
