<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxsj.analyse.dao.ParentTypeConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hxsj.analyse.pojo.ParentTypeConfig" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_type" property="parentType" jdbcType="VARCHAR" />
    <result column="parent_type_desc" property="parentTypeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, parent_type, parent_type_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hxsj.analyse.pojo.ParentTypeConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hxsj_parent_type_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hxsj.analyse.pojo.ParentTypeConfigExample" >
    delete from hxsj_parent_type_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxsj.analyse.pojo.ParentTypeConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hxsj_parent_type_config (parent_type, parent_type_desc)
    values (#{parentType,jdbcType=VARCHAR}, #{parentTypeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxsj.analyse.pojo.ParentTypeConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hxsj_parent_type_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentType != null" >
        parent_type,
      </if>
      <if test="parentTypeDesc != null" >
        parent_type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentType != null" >
        #{parentType,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeDesc != null" >
        #{parentTypeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxsj.analyse.pojo.ParentTypeConfigExample" resultType="java.lang.Integer" >
    select count(*) from hxsj_parent_type_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hxsj_parent_type_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentType != null" >
        parent_type = #{record.parentType,jdbcType=VARCHAR},
      </if>
      <if test="record.parentTypeDesc != null" >
        parent_type_desc = #{record.parentTypeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hxsj_parent_type_config
    set id = #{record.id,jdbcType=INTEGER},
      parent_type = #{record.parentType,jdbcType=VARCHAR},
      parent_type_desc = #{record.parentTypeDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>